.resultsTable{
    border-collapse: collapse;
}

.resultsTable td{
    padding-right: 0.3em;
    padding-left: 0.3em;
}

.resultsTable tr{
    border-bottom: 1pt solid #d6d6d6;
}

.resultsTopRow{
    padding-bottom: 12px;
}

.firstColumn{
    padding-right: 12px;
}

.gold{
    background-color: rgb(255, 253, 117);
}

.green{
    background-color: rgb(117, 255, 135);
}

.blue{
    background-color: rgb(132, 216, 255);
}

.red{
    background-color: rgb(255, 56, 56);
    color: white;
}