.holeBannerNumberCell{
    padding: 0px 10px 0px 8px;
    color: rgb(92, 92, 92);
}

.holeBannerNumberCell:hover{
    color: rgb(126, 255, 100);
    box-shadow: 0 0 12px #baff8c;
    border-radius: 12px;
}

.holeBannerContainer{
    border: 1px solid rgb(226, 226, 226);
    border-radius: 12px;
}

.greyOutThisHole{
    font-weight: bold;
    border: 1px solid rgb(207, 207, 207);
    border-radius: 10px;
}

.greyOutThisHole:hover{
    color: black;
    font-weight: bold;
    border: 1px solid rgb(207, 207, 207);
    box-shadow: none;
    border-radius: 10px;
}

.finnishedHole{
    font-weight: bold;
    color: rgb(219, 219, 219);
}

.finnishedHole:hover{
    color: rgb(204, 204, 204);
    box-shadow: none;
    border-radius: 12px;
}