.playerScoreButtonMINUS{
    background-color: #FFFFFF;
    border: 1px solid #bebebe;
    color: #555555;
    padding: 6px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 50%;
    outline: none;
  }

  .playerScoreButtonPLUS{
    background-color: #FFFFFF;
    border: 1px solid #bebebe;
    color: #555555;
    padding: 6px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 50%;
    outline: none;
}

.playerScoreButtonMINUS:hover {
  border-color: rgb(255, 195, 106);
  box-shadow: 0 0 12px #ffd78c;
  color: black;
}

.playerScoreButtonPLUS:hover {
  border-color: rgb(111, 255, 106);
  box-shadow: 0 0 12px #baff8c;
  color: black;
}

.disableMinusButton{
  color: #f1f1f1;
  border: 1px solid #f1f1f1;
}

.disableMinusButton:hover{
  color: #f1f1f1;
  border: 1px solid #f1f1f1;
}

.playerTable{
  border-collapse: collapse; /* Need this for tr-bottom border */
}

.playerTable td {
  padding-right: 16px;  
  padding-top: 10px;
  padding-bottom: 8px;
}

.playerTable tr{
  border-top:1pt solid #d6d6d6;
  border-bottom:1pt solid #d6d6d6; /* Need border-collapse in overall table for this to work */
}

.totalScoreTable td{
  text-align: center;
}

.currentHoleScore{
  font-size: 30px;
  border: 1px solid #cfcfcf;
  border-radius: 10px;
  padding: 4px;
}

.parScore{
  font-size: 16px;
}

.playerNameText:hover{
  color: #548afd;
  text-shadow: 1px 1px 2px #a8e6ff;
}
