.HoleArrowButton{
  background-color: #FFFFFF;
  border: none;
  color: #555555;
  outline: none;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 36px;
  
}

.ParArrowButtonMINUS{
  background-color: #FFFFFF;
  border: 1px solid #bebebe;
  color: #555555;
  padding: 2px 8px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 50%;
  outline: none;
}

.ParArrowButtonPLUS{
  background-color: #FFFFFF;
  border: 1px solid #bebebe;
  color: #555555;
  padding: 2px 6px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 50%;
  outline: none;
}

.HoleArrowButton:hover{
  color: black;
  text-shadow: 0 0 12px #929292;
}

.ParArrowButtonMINUS:hover {
  border-color: rgb(255, 195, 106);
  box-shadow: 0 0 12px #ffd78c;
  color: black;
}

.ParArrowButtonPLUS:hover {
  border-color: rgb(111, 255, 106);
  box-shadow: 0 0 12px #baff8c;
  color: black;
}

.parNumber{
  font-size: 30px;
  text-decoration: bold;
}
