.App {
  text-align: center;
  font-family: 'Gruppo', cursive;
}

.App-header {
  background-color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

footer{
  font-size: 0.8em;
}

.banner{
  font-size: 0.9em;
  padding-bottom: 36px;
}
